body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
button{
    padding: 5px 10px;
    border: none;
    background-color:red;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}